@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap');
@import "tailwindcss";

/* --------------------- CUSTOM PROPERTIES ---------------------------- */

@theme {
  --color-cust-dark: hsl(230, 35%, 7%);
  --color-cust-light: hsl(231, 77%, 90%);

  /* font-sizes */
  --text-cust-900: 9.375rem;
  --text-cust-800: 6.25rem;
  --text-cust-700: 3.5rem;
  --text-cust-600: 2rem;
  --text-cust-500: 1.75rem;
  --text-cust-400: 1.125rem;
  --text-cust-300: 1rem;
  --text-cust-200: 0.95rem;

  /* font-families */
  --font-cust-serif: "Bellefair", serif;
  --font-cust-sans-cond: "Barlow Condensed", sans-serif;
  --font-cust-sans-normal: "Barlow", sans-serif;
}


/* --------------------- BASE ---------------------------- */

@layer base {

  /* From the scrimba course - extending reset not already present in preflight.css */

  /* ---------------- */
  body {
    @apply font-cust-sans-normal text-cust-400 bg-cust-dark text-white;
  }

  picture {
    max-width: 100%;
    display: block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-weight: 400;
  }

  button {
    cursor: pointer;
  }


  /* ------------------ */

  /* remove animations for people who've turned them off */
  @media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

/* --------------------- UTILITIES ---------------------------- */

@layer utilities {
  .container {
    @apply px-8 max-w-7xl mx-auto;
  }

  /* screen reader only */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
  }

  .numbered-title {
    @apply md:tracking-wider tracking-[3.75px] font-cust-sans-cond uppercase font-medium;
  }

  .numbered-title span {
    margin-right: .5em;
    @apply font-semibold;
  }

  /* small heading */
  .small-heading {
    @apply uppercase text-cust-light font-cust-sans-cond tracking-widest md:text-cust-500 text-cust-300;
  }

  /* Background images */
  .bg-main {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .home-bg {
    @apply xl:bg-[url('/src/assets/home/background-home-desktop.jpg')] sm:bg-[url('/src/assets/home/background-home-tablet.jpg')] bg-[url('/src/assets/home/background-home-mobile.jpg')];
  }


  .destination-bg {
    @apply xl:bg-[url('/src/assets/destination/background-destination-desktop.jpg')] sm:bg-[url('/src/assets/destination/background-destination-tablet.jpg')] bg-[url('/src/assets/destination/background-destination-mobile.jpg')];
  }

  /* Navbar height */
  .space-navbar {
    @apply mt-24 xl:mt-34;
  }

  /* paragraph */
  .para {
    @apply text-cust-light md:text-cust-300 text-cust-200;
  }

}

/* --------------------- COMPONENTS ---------------------------- */
@layer components {

  /* Large button */

  .large-button {
    @apply text-cust-dark bg-white font-cust-serif uppercase w-36 sm:w-46 md:w-68 md:text-cust-600 text-cust-400 relative grid place-items-center z-1 m-[1em] px-[2em] rounded-[50%] aspect-[1];
  }

  .large-button::after {
    @apply bg-white/15;
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
  }

  .large-button:hover::after,
  .large-button:focus::after {
    opacity: 1;
    transform: scale(1.5);
  }

  /* Navigation */

  .primary-navigation a {
    text-decoration: none;
  }

  .primary-navigation a>span {
    font-weight: 700;
    margin-right: .5em;
  }

  .underline-indicators>* {
    @apply border-white cursor-pointer grid md:place-items-center transition-opacity duration-200 h-full;
  }

  .underline-indicators.plain>*:hover,
  .underline-indicators.plain>*:focus {
    @apply border-b-3 border-white/50;
  }

  /* indicator for nav */
  .underline-indicators.main-nav>*:hover,
  .underline-indicators.main-nav>*:focus {
    @apply md:border-b-3 md:border-r-0 border-r-4 border-white/50;
  }

  .underline-indicators.plain>.active,
  .underline-indicators.plain>[aria-selected="true"] {
    @apply border-b-3 border-white text-white;
  }

  /* indicator for nav */
  .underline-indicators.main-nav>.active,
  .underline-indicators.main-nav>[aria-selected="true"] {
    @apply md:border-b-3 md:border-r-0 border-r-4 border-white text-white;
  }

  .underline-indicators a {
    @apply h-full flex items-center;
  }

  .tab-list {
    --gap: 2rem;
  }

  /* Dot indicators */

  .dot-indicators>* {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: .5em;
    background-color: hsl(var(--clr-white) / .25);
  }

  .dot-indicators>*:hover,
  .dot-indicators>*:focus {
    background-color: hsl(var(--clr-white) / .5);
  }

  .dot-indicators>[aria-selected="true"] {
    background-color: hsl(var(--clr-white) / 1);
  }

  /* Number indicators */
  .number-indicators {
    flex-direction: column;
    max-width: 3em;
  }

  .number-indicators>* {
    border: 2px solid hsl(var(--clr-white) / .40);
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-white));
    border-radius: 50%;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
  }

  .number-indicators>*:hover {
    border: 2px solid hsl(var(--clr-white));
  }

  .number-indicators>[aria-selected="true"] {
    background-color: hsl(var(--clr-white));
    color: hsl(var(--clr-dark));
  }

}